*{background-color:rgb(20, 86, 117);
color: rgb(245, 168, 246);


}


.profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.profile-header {
    text-align: center;
}

.profile-header h1 {
    font-size: 2rem;
}

.user-info {
    text-align: center;
    margin-bottom: 20px;
}

.user-info p {
    font-size: 1.2rem;
}

.user-info div {
    margin-bottom: 10px;
    /* Add space between user info items */
}

.user-info img {
    display: block;
    margin: 0 auto;
    /* Center the image */
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sorted-recipes {
    margin-top: 20px;
}

.sorted-recipes ul {
    list-style: none;
    padding: 0;
}

.sorted-recipes li {
    margin-bottom: 10px;
    padding: 1px;
    background-color: #88c9a6;
}

.sorted-recipes li div {
    margin-bottom: 5px;
}

.sorted-recipes li div:first-child {
    font-weight: bold;
}

.update-name-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #a835f0;
    color: #7bc7d8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-name-btn:hover {
    background-color: #9638de;
}